#root {
  max-width: 1280px;
  margin: 2rem auto; /* 2rem is two times the font size of the root element*/
  padding: 5%;
  text-align: center;
  background-color: darkred; /* This makes the content area gey */
  color: black; /* Makes default text black */
  border-radius: 8px; /* gives the box soft corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.header {
  /*styling to make the red box*/
  background-color: red;
  padding: 8px 16px;
  border-radius: 8px;
  border: 3px solid #333;

  /* flexbox styles to arrange the logos and title so the logos are either side of the title*/
  display: flex;
  justify-content: space-between; /* pushes items apart */
  align-items: center; /* centers the items */
}

/*styling for the title text*/
.header h1 {
  font-family: "Press Start 2P", system-ui;
  color: white;
  margin: 0;
  font-size: 1.2rem;
  text-shadow: 2px 2px #000000;
}

/* styling for the pokeball pngs */
.header-logo {
  width: 60px;
  height: auto;
}
